.idea/Calculadora-em-JAVA.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
out/production/Calculadora-em-JAVA/.idea/Calculadora-em-JAVA.iml
out/production/Calculadora-em-JAVA/.idea/misc.xml
out/production/Calculadora-em-JAVA/.idea/modules.xml
out/production/Calculadora-em-JAVA/.idea/vcs.xml
out/production/Calculadora-em-JAVA/TestCalculadora.class
out/production/Calculadora-em-JAVA/calculadora/CalculadoraJava.class
